html {
    background: #561B1F;
}

#form{
    background: #561B1F;
    font-size: 55px;
    padding-top: 5px;
    padding-left: 30px;
    color: #BEB07B;
}

#submit {
    background-color: #193b53;
    border: none;
    color: #BEB07B;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: right;
    margin-right: 13vw;
    height: 8vh;
    width: 12vw;
}

#deadline{
    font-size: 14px; 
}

#name {
    height: 6vh;
    width: 40vw;
}

#description {
    height: 50vh;
    width: 40vw;
}

.textarea { 
    font-size: 17px;
    resize: none;
}

.size {
    font-size: 3vw;
    margin-bottom: -3vh;
    margin-top: 2vh;
}

.label {
    font-size: 2vw;
    margin-top: 2vh;
}

.projLabel {
    font-size: 2vw;
}

.projects {
    font-size: 2vw;
    height: 3vh;
}