table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 2vw;
}

th, tr {
    text-align: center;
}

ul {
    list-style-type: none;
}

#btn {
    text-align: center;
}

#divider {
    display: inline-block;
    height: auto;
    width: 2vw;
}

#id {
    margin: auto;
}

#title {
    background-color: #561B1F;
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: 'Snell Roundhand', cursive;
}

.create {
    padding: 3px 15px;
    background-color: #193b53;
    font-size: 15px;
    color: white;
    text-align: center;
}
