table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 2vw;
}

th, tr {
    text-align: center;
}

ul {
    list-style-type: none;
}

#btn {
    text-align: center;
}

#divider {
    display: inline-block;
    height: auto;
    width: 2vw;
}

#id {
    margin: auto;
}

#title {
    background-color: #561B1F;
    color: white;
    text-align: center;
    font-size: 55px;
    font-family: 'Snell Roundhand', cursive;
}

.create {
    padding: 3px 15px;
    background-color: #193b53;
    font-size: 15px;
    color: white;
    text-align: center;
}

.serv ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.serv ul li {
  list-style: none;
  flex: 0 0 20%;
  padding: 25px;
}

.card-header{
    font-weight: bold !important;
}

#green_card{
    color: green !important;
    font-weight: bold !important;
}

#black_card{
    color: red !important;
    font-weight: bold !important;
}

.Hder {
    font-size: 30px;
}

.pHder {
    font-size: 23px;
}
